<%= render :partial => "home/carousel" %>

<div class="row">
	<div class="span6">
		<div class="row">
			<div class="span6">
		    	<%= render :partial => "home/news" %>
			</div>
		</div>
		<div class="row">
			<div class="span6">
		    	<%= render :partial => "home/articles" %>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="row">
			<div class="span12">
				<h2>Лента обновлений</h2>
				<img src="http://placehold.it/470x400"/>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h2>Карта</h2>
				<img src="http://placehold.it/470x360"/>
			</div>
		</div>
		<div class="row" style="margin-top: 50px;">
			<div class="span12">
				<%= render :partial => "home/social" %>
			</div>
		</div>
	</div>
</div>
